@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Freesentation-9Black';
  /* 로고용 폰트 */
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Paperlogy-8ExtraBold';
  /* 전역용 폰트 */
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* 전역 폰트 설정 */
* {
  font-family: 'Paperlogy-8ExtraBold', Arial, sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-weight: 500;
}